* {
    margin: 1.5rem;
    padding: 0;
    /*background-color: #282B38;*/
    background: #FAFAFA;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    font-family: 'Roboto Light', sans-serif;
    background-color: #9F61D6;
}

.header {
    padding: 15px;
    text-align: center;
    background: #9F61D6;
    color: white;
    font-size: 30px;
}

.search-input-wrapper {
    background-color: transparent;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    move-to: left;
}

.search-input {
    width: 30rem;
    display: flex;
    align-items: center;
}

.search-input input {
    width: 27rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid;
    font-size: 2.5rem;
    letter-spacing: .05rem;
    margin-right: 1rem;
    outline: none;
}

.search-input i {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

.search {
    position: center;
    margin-top: 30rem;
    align-items: center;
    margin-left: 20rem;
}

.pengu-league {
    width: 700px;
    margin-left: 7rem;
    margin-top: -27rem;
}