body {
    background-color: #f8f9fa;
}

.jumbotron {
    background-color: #f8f9fa;
    border-radius: 0;
    /*border-top: 3px solid #007bff;*/
    /*height: 200px;*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin-bottom: 0;
    height: auto;
    padding: 0rem;
    align-items: flex-end;
}

.container {
    display: flex;
    flex: 2 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.form-control {
    width: 300px;
}

#text {
    font-size: 48px;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-right: 3px solid #007bff;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding: 10px;
    border-right: 3px solid #007bff;
}

.navbar-brand img {
    margin-right: 10px;
}

.container-fluid {
    padding: 0;
}

.border-top {
    border-top: 3px solid #007bff;
}

.border-right {
    border-right: 3px solid #007bff;
}

.typing-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.input-group {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group .form-control {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .input-group {
        flex-direction: row;
        justify-content: center;
    }

    .input-group .form-control {
        margin-right: 10px;
        margin-bottom: 0;
    }
}

.test {
    border-bottom: 3px solid #007bff;
}

