<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>RiotStats</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light test">
    <a class="navbar-brand" href="/"><img src="../static/images/logo.png" alt="Logo" height="30" th:src="@{/images/logo.png}"> RiotStats</a>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/blueteawolf" target="_blank" rel="noopener noreferrer">Github</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script src="/script/script.js"></script>

<!--<div class="jumbotron">-->
<!--    <div class="container">-->
<!--        <p id="text"></p>-->
<!--    </div>-->
<!--</div>-->

<form th:action="@{/summonerInformation}" method="get">
    <table>
        <tr>
            <td><h4>Summoner name:</h4></td>
            <td><h4 th:text="${summoner.summonerName}"></h4></td>
        </tr>
        <tr>
            <td><h4>Account ID:</h4></td>
            <td><h4 th:text="${summoner.accountID}"></h4></td>
        </tr>
        <tr>
            <td><h4>ID:</h4></td>
            <td><h4 th:text="${summoner.id}"></h4></td>
        </tr>
        <tr>
            <td><h4>PUUID:</h4></td>
            <td><h4 th:text="${summoner.puuID}"></h4></td>
        </tr>
        <tr>
            <td><h4>Server:</h4></td>
            <td><h4 th:text="${summoner.server}"></h4></td>
        </tr>
        <tr>
            <td><h4>Summoner level:</h4></td>
            <td><h4 th:text="${summoner.summonerLevel}"></h4></td>
        </tr>
    </table>
</form>
</body>
</html>